.board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 4px;
  }
  
.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ship-container {
    position: absolute;
}
  
.ship {
    width: 40px;
    height: 40px;
    background-color: blue;
}