.board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 4px;
  }

.cell-ship-image {
    z-index: 555;
    position: absolute;
}
  
.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.ship, .submarine, .cruise, .aircraftcarrier, .torpedoboat{
    width: 40px;
    height: 40px;
    background-color: green;
}

.red   {
    background-color: red;
}

.blue {
    background-color: blue;
}

.game-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
  
.board-container {
    margin-right: 20px;
}
  
.ships-container {
    display: flex;
    flex-direction: column;
}

.ship-image {
    height: 2em;
    width: auto;
}

.ship-name {
    font-size: 0.8em;
    text-align: center;
}

